ALLOWED_ORIGINS=*

DATABASE_URL=postgresql://meetstrangerdb_user:2yFJZKK3zkMlvi0cp2NfGcI5ZVlkxTqN@dpg-d62c6mchg0os738c493g-a.oregon-postgres.render.com/------- exemplo ----- meetstrangerdb

JWT_EXPIRES_IN=24h

JWT_SECRET=------- exemplo ----- 8uba8yey8d02139tgryu4wefu89hio34efriv89hurin3jwfrdv9y87guiew9f

NODE_ENV=production

PORT=3000
